# dependencies
node_modules
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
build

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# testing
coverage

# prod
dist

# logs
.log
